   /* 1 Etiqueta */
            h1{
                color: fuchsia;
            }

            utnprogramacion3{
                color: green;
                font-size: 20px;
            }

            /* 2 Clase */
            .texto-rojo{
                color: red;
            }

            .texto-tamanio-grande{
                font-size: 30px;
            }

            /* 3 ID/Identifier */
            #parrafo-1{
                color: blue;
            }

#div-1{
    background-color: lightgray;
    min-height: 200px;
    width: 50%;
    position: absolute;
    top:0px;

}